@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../node_modules/bootstrap-icons/font/bootstrap-icons.scss';
@import './ScrollBarStyle.css';

@font-face {
    font-family: 'bootstrap-icons';
    src: url(../fonts/bootstrap-icons.woff);
}

*{margin: 0; padding: 0; box-sizing: border-box;}

.App{
    width: 100%;
    height: 100vh;
    background-color: #000;
    display: flex;
    position: relative;
    flex-direction: column;
    .welcomeScreen{
        width: 100%;
        height: 100vh;
        background-color: #000;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99999;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;        
        &>span{
            color: #c4c2c2;
            font-size: 18px;
            font-weight: 200;
            width: 50%;
            b{
                color:#7fd2fb;
            }
        }
        .t1{
            color: #fff;
            font-size: 35px;
            font-weight: 600;
        }
        .actionBtns{           
            margin-top:3rem;
            width: 50%;
            justify-content: flex-end;
            &>button{
               border:none;
               &:nth-child(1){
                background-color: #000;
                color: #707070;
                &:hover{
                    color: rgb(243, 134, 134);
                }
               }
               &:nth-child(2){
                padding: .2rem 1.2rem;
                border-radius: 5px;
                border: 1px solid #949494;
                background-color: #000;
                color: #fff;
                &:hover{
                    border: .5px solid rgb(126, 232, 150);
                    color: rgb(126, 232, 150);
                }
               }
            }
        }
    }     
    .winDesktop{
        width: 100%;
        height: calc(100vh - 40px);
        background-image: url('../IMG/windows.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position:left;
        position: relative;
    } 
    .winNav{
        width: 100%;
        min-height: 47px;
        background:#213740;
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 9999;
        .winNavLeft{
            height: 100%;
            a{
                width: 47px;
                display: flex;
                justify-content: center;
                align-items: center;
                &:hover{
                    background-color: #374c57;
                }
            }
        }
        .winNavRight{
            height: 100%;
            .date-time{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0 10px;
                &>span{
                    color: #fff;
                    font-size: 11px;
                }                     
            }                            
            a{
                min-width: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                color:#f5f5f5; 
                padding: 5px;                   
                text-decoration: none;
                &:hover{
                    background-color: #374c57;
                }
            }
        }
    }
    .WinStartBar{
        width: 550px;
        height: 90vh;
        background-color: #22323A;
        position: absolute;
        bottom: 47px;
        left: 0;
        display: flex;
        &>div{
            & ul{
                width: 100%;
                height: auto;
                list-style: none;
                margin: 0;
                padding: 0;
                &>li{
                    height: 55px;
                    width: 100%;                    
                    display: flex;
                    align-items: center;
                    font-size: 14px; 
                    gap: 10px;   
                    color: #f5f5f5;                                    
                    &:hover{
                        background-color: #374c57;
                    }
                }
            }            
            &:nth-child(1){
                width: 10%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                &>ul{
                    &>li{
                        justify-content: center;
                        gap: 0;
                    }
                }                       
            }
            &:nth-child(2){
                width: 46%;
                overflow-y: scroll;
                & ul{
                    & li{
                        position: relative;
                        padding: 0 10px;
                        & img{
                            &:nth-child(1){
                                height: 20px;
                            }                            
                        }
                    }
                }      
            }
            &:nth-child(3){
                width: 44%;
                .social-media-icons{ 
                    list-style: none;  
                    padding: 10px; 
                    &>li{
                        width: 100px;
                        height: 100px;
                        background-color: #2E414B;
                        margin:0 10px 10px 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        &:hover{
                            background-color: #374c57;
                        }
                        &>label{
                            position: absolute;
                            left: 5px;
                            bottom: 5px;
                            color:#f5f5f5;
                            font-size: 12px;
                        }
                    }
                }                
            }                        
        }
    }
    .browserWin{
        width: 80%;
        height: 80vh;
        background-color: #f5f5f5;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        position: absolute;
        display:flex;
        flex-direction: column;
        top: 10%;
        left: 10%;
        .headerBrowserWin{
            width: 100%;
            height: 60px;
            display: flex;
            flex-direction: column;
            &>div{
                height: 30px;
                &:nth-child(1){
                    display: flex;
                    justify-content: space-between;
                    &>span{
                        height: 100%;
                        &>ul{
                            list-style: none;
                            display: flex;
                            height: 100%;
                            align-items: center;
                            &>li{
                                list-style: none;
                                padding:0 25px;
                                height: 100%;
                                &:hover{
                                    background-color: #949494;
                                }
                            }
                        }
                    }
                }
                &:nth-child(2){
                    border-bottom: 1px solid #b8b8b8;
                    .headerTopMenu{
                        display: flex;
                        list-style: none;
                        &>li{
                            padding: 0 1rem;
                        }
                    }
                }
            }
        }
        .contentBrowserWin{
            background-color: rgb(216, 230, 242);
            height: calc(100% - 60px);
            overflow-y: scroll;
            overflow-x: hidden;
            padding: 20px;
              /* Track */
            &::-webkit-scrollbar-track {
                background: #a0c5d7; 
            }
            &::-webkit-scrollbar {
                width: 10px;
            } 
            &::-webkit-scrollbar-thumb {
                background: #7a9aac; 
            }                       
        }
    }
    .maximizeBrowser{
        width: 100%!important; 
        height:100vh!important; 
        top:0!important; 
        left:0!important; 
        transform: translate3d(0,0,0)!important;
        .contentBrowserWin{
         height: calc(100% - 107px);  
        }
    }
    .winNavMinBrowser{
        height: 100%;
        &>ul{
            list-style: none;
            height: 100%;
            &>li{
                width: 50px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center; 
                cursor: pointer;
                &:hover{
                    background-color: #374c57;
                }               
            }
        }
    }
    .topBrowser{
        z-index: 2000!important;
        display: block;
    }
    .hideBrowser{
        display: none;
    }
    .infoNavBox{
        height:100%;
        .infoNav{
            padding: 2rem;
            &>h5{
                font-size: 15px;
                margin-bottom: 2rem;
            }
            &>ul{
                margin: 0;
                padding-left: 0;
                &>li{
                list-style: none;
                list-style-position: inside;                
                font-size: 1rem;
                padding: 1rem;
                margin:.2rem 0;
                &:hover{
                    background-color: #e5eff7;
                }               
                &>i{
                    margin-right: 1rem;
                }            
            }
            }
        }
        .infoCon{
            padding: 2rem;
            background-color: #fff;
            &>h3{
                font-weight: 300;
            }
            &>h6{
                font-size: 14px;
                color:#567cc3;
            }
            &>img{
                margin: 1rem 0;
            }
            &>p{
                margin-top: 2rem;
            }
            .profPic{
                height: 150px;
            }
        }
    }
    .spaceHeight{
        height: 3rem;
        width: 100%;
        display: block;        
    }
    .smallIcon{
        height: 50px;
        margin-right: 1rem;
    }
    .activeTab{
        background-color: #e5eff7!important;
    } 
}
